{% extends "base.html" %}

{% block content %}

<div class="container">
    <h2 class="mb-4">Add Show</h2>
    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}
        <div class="row mb-1">
            <div class="col-2">
                <label for="name" class="form-label">{{form.name.label}}</label>
            </div>
            <div class="col" id="name">{{form.name(size=32)}}
                {% for error in form.name.errors %}
                <span style="color:red;">[{{error}}]</span>
                {% endfor %}
            </div>
            
        </div>

        <div class="row mb-1">
            <div class="col-2">
                <label for="location" class="form-label">{{form.venue.label}}</label>
            </div>
            <div class="col" id="location">{{form.venue(style="min-width:25.8%;") }}
                {% for error in form.venue.errors %}
                <span style="color:red;">[{{error}}]</span>
                {% endfor %}
            </div>
        </div>

        <div class="row mb-1">
            <div class="col-2">
                <label for="location" class="form-label">{{form.timing.label}}</label>
            </div>
            <div class="col" id="location">{{form.timing() }}
                {% for error in form.timing.errors %}
                <span style="color:red;">[{{error}}]</span>
                {% endfor %}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-2">
                <label for="capacity" class="form-label">{{form.price.label}}</label>
            </div>
            <div class="col" id="capacity">{{ form.price() }}
                {% for error in form.price.errors %}
                <span style="color:red;">[{{error}}]</span>
                {% endfor %}
            </div>
        </div>

        <div class="row mb-1">
            <div class="col-2">
                <label for="submit" class="form-label">{{form.submit()}}</label>
            </div>
        </div>
    </form>

</div>
{% endblock %}