{% extends "base.html" %}

{% block content %}

<div class="container">
    <h3>Booking Info: </h3>
    <p>Name: {{show.name}}</p>
    <p>Venue: {{venue.name}}, {{venue.location}}</p>
    <p>Timing: 
        {% if show.timing %}
            {{show.timing.strftime('%I:%M %p, %d-%b-%Y')}}
        {% else %}
            Not Specified!
        {% endif %}
    </p>
    <p>Price: Rs. {{show.price}}</p>

    <h3>Book Tickets:</h3>
    <p>Maximum Capacity: 
        {{venue.capacity}}
    </p>
    <p>Available Nos. :
        {{available}}
    </p>

    <form action = "" method="POST" novalidate>
        {{ form.hidden_tag() }}

        <label for="qty" class="form-label">{{form.qty.label}}</label>
            {{ form.qty(size=4) }}

        {% for error in form.qty.errors %}
            <span style="color:red;">[{{error}}]</span>
        {% endfor %}
        <p>
                <label for="submit" class="form-label">{{form.submit()}}</label>
        </p>


    </form>
</div>

{% endblock %}