{% extends "base.html" %}

{% block content %}
<div class="container px-4">
    <form action = "" method="POST" novalidate>
        {{form.hidden_tag()}}
        <p>{{form.venue_search.label}}{{form.venue_search()}}</p>
        <p>{{form.show_search.label}}{{form.show_search()}}</p>
        <p>{{form.tag_search.label}}{{form.tag_search()}}</p>
        <p>{{form.from_date.label}}{{form.from_date()}}</p>
        <p>{{form.till_date.label}}{{form.till_date()}}</p>
        <p>{{form.submit()}}</p>
    </form>

</div>
{% endblock %}