{% extends "base.html" %}

{% block content %}

<div class="container">
    <h2 class="mb-4">Register</h2>
    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}
        <div class="row mb-1">
            <div class="col-2">
                <label for="username" class="form-label">{{form.username.label}}</label>

            </div>
            <div class="col" id="username">{{form.username(size=32)}}
                {% for error in form.username.errors %}
                <span style="color:red;">[{{error}}]</span>
                {% endfor %}
            </div>
            
        </div>

        <div class="row mb-1">
            <div class="col-2">
                <label for="password" class="form-label">{{form.password.label}}</label>
            </div>
            <div class="col" id="password">{{form.password(size=32)}}
                {% for error in form.password.errors %}
                <span style="color:red;">[{{error}}]</span>
                {% endfor %}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-2">
                <label for="re_password" class="form-label">{{form.password2.label}}</label>
            </div>
            <div class="col" id="re_password">{{form.password2(size=32)}}
                {% for error in form.password2.errors %}
                <span style="color:red;">[{{error}}]</span>
                {% endfor %}
            </div>
        </div>

        <div class="row mb-1">
            <div class="col-2">
                <label for="submit" class="form-label">{{form.submit()}}</label>
            </div>
        </div>
    </form>

</div>
{% endblock %}